:root {
  --header-bg-light-grey: #eeeeee;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-red: #fb565a;
  --basic-red-hover: #e74246;
  --basic-red-click: #d7373b;
  --basic-green: #00ca74;
  --basic-green-hover: #00bc6c;
  --basic-green-click: #00aa62;
  --basic-yellow: #efc849;
  --basic-yellow-hover: #eab534;
  --basic-yellow-click: #e5a722;
  --basic-text: #283136;
  --basic-grey-text: #666666;
  --basic-form-text: #444444;
  --basic-form-border: #d7dcde;
  --basic-form-hover: #b4b9bb;
  --basic-catalog-border: #4d4d4d;
  --basic-pagination-stroke: #dbdbdb;
  --basic-pagination-hover: #dfdfdf;
  --basic-pagination-click: #d5d5d5;
  --bacic-socials: #e1e1e1;
  --basic-light-grey: #c1c1c1;
  --basic-white-opacity: rgba(256, 256, 256, 0.3);
  --basic-black-opacity: rgba(0, 0, 0, 0.3);
  --basic-black-opacity-60: rgba(0, 0, 0, 0.6);
  --basic-text-opaticy: rgba(40, 49, 54, 0.3);

  --shadow: rgba(0, 1, 1, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.page-body a {
  text-decoration: none;
  color: var(--basic-white);
}

.img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
}

/*Button */

.button {
  font: inherit;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-white);
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* header */

.main-header {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--header-bg-light-grey);
}

.header-logo {
  margin-top: 49px;
}

.main-header .container {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}

.main-header a {
  color: var(--basic-black);
  text-transform: uppercase;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.7;
}

.header-logo:active {
  opacity: 0.3;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
  margin-left: 202px;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  /* gap: 45px; */
  width: 650px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-bottom: 5px;
}

.nav-list li:not(:last-child) {
  margin-right: 45px
}

.current a {
  text-decoration: underline;
  text-underline-offset: 22px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--basic-red);
}

.current .user-navigation-link {
  text-decoration: none;
}

.current .user-navigation-link::after {
  position: absolute;
  content: "";
  top: 36px;
  left: -37px;
  width: 112px;
  height: 2px;
  background-color: var(--basic-red);
}

.nav a:hover,
.nav a:focus {
  color: var(--basic-red);
  outline: none;
}
.nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* user nav */

.user-navigation {
  display: flex;
  flex-wrap: wrap;
}

.user-navigation-link {
  position: relative;
}

.user-navigation-link::before {
  content: "";
  position: absolute;
  top: 6px;
  left: -40px;
  width: 15px;
  height: 15px;
  background-image: url(/img/cart-icon.svg);
  background-repeat: no-repeat;
}

/*Promo*/

.promo {
  background-color: var(--header-bg-light-grey);
  margin-bottom: 80px;
}

.promo .container {
  position: relative;
}

.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-list-item {
  min-height: 420px;
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: -10px;
}

.promo-item-slide1 {
  background-image: url(/img/slide1.png);
}

.promo-item-slide2 {
  background-image: url(/img/slide2.png);
  display: none;
}

.promo-item-slide3 {
  background-image: url(/img/slide3.png);
  display: none;
}

.promo-item-title {
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-bottom: 25px;
  max-width: 425px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.promo-item-text {
  padding: 0;
  margin: 0;
  max-width: 425px;
  margin-bottom: 38px;
}

.button-promo {
  display: block;
  margin-top: 38px;
  margin-bottom: 80px;
  box-sizing: border-box;
  width: 240px;
  height: 50px;
  text-align: center;
  padding-left: 54;
  padding-right: 54;
  background-color: var(--basic-red);
}

.button-promo:hover,
.button-color-red:hover,
.button-contacts:hover,
.button-promo:focus,
.button-color-red:focus,
.button-contacts:focus {
  background-color: var(--basic-red-hover);
}

.button-promo:active,
.button-color-red:active,
.button-contacts:active {
  background-color: var(--basic-red-click);
  color: var(--basic-white-opacity);
}

.slider-controls {
  position: absolute;
  top: 298px;
  left: 556px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.slider-controls-item:not(:last-child) {
  margin-right: 17px;
}

.slider-control {
  position: relative;
  border: none;
  background-color: var(--basic-white);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}
.slider-control-active::after {
  position: absolute;
  content: "";
  box-sizing: border-box;
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-white);
  border: 2px solid var(--basic-light-grey);
  border-radius: 50%;
}


/* Service */

.service {
  position: relative;
  margin-bottom: 155px;
}

.service::after {
  content: "";
  position: absolute;
  top: 427px;

  width: 1158px;
  height: 2px;
  background-color: var(--header-bg-light-grey);
}

.service-list {
  display: flex;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-list-item {
  width: 300px;
  padding-top: 146px;
  background-repeat: no-repeat;
  background-position: top left;
}

.service-item-site {
  background-image: url(/img/features-1.jpg);
}

.service-item-apps {
  background-image: url(/img/features-2.jpg);
}

.service-item-presentation {
  background-image: url(/img/features-3.jpg);
}

.service-item-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
  color: var(--basic-black);
}

.service-item-text {
  margin-bottom: 32px;
}

.button-services {
  display: block;
  width: min-content;
  padding-left: 39px;
  padding-right: 40px;
}

.button-color-red {
  background-color: var(--basic-red);
}

.button-color-green {
  background-color: var(--basic-green);
}

.button-color-green:hover,
.button-color-green:focus {
  background-color: var(--basic-green-hover);
}

.button-color-green:active {
  background-color: var(--basic-green-click);
  color: var(--basic-white-opacity);
}

.button-color-yellow {
  background-color: var(--basic-yellow);
}

.button-color-yellow:hover,
.button-color-yellow:focus {
  background-color: var(--basic-yellow-hover);
}

.button-color-yellow:active {
  background-color: var(--basic-yellow-click);
  color: var(--basic-white-opacity);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  background-image: url(/img/nerds-illustration\ 1.jpg);
  background-repeat: no-repeat;
  background-position: top right 16px;
  margin-bottom: 48px;
}

.about-title {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  max-width: 780px;
  margin-top: 2px;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-text {
  grid-column: 1 / -1;
  max-width: 780px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.features-list-title {
  grid-column: 1 / 2;
  font-weight: 700;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.features-list {
  grid-column: 1 / 3;
  list-style: none;
  margin: 0;
  margin-left: 37px;
  padding: 0;
}

.features-list-item {
  position: relative;
  margin-bottom: 26px;
}

.features-list-item::before {
  content: "";
  position: absolute;
  top: 12px;
  left: -37px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-list-title {
  grid-column: 3 / -1;
  grid-row: 3 / 4;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-left: 31px;
  text-transform: uppercase;
}

.about-desc-list {
  margin: 0;
  padding: 0;
  grid-column: 3 / -1;
  width: 360px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-desc-item {
  display: flex;
  flex-direction: column;
}

.description-title {
  order: 2;
  line-height: 18px;
  grid-row: 2 / -1;
  padding-top: 10px;
  padding-left: 14px
}

.description-definition {
  order: 1;
  margin: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  padding-top: 10px;
  padding-left: 14px
}

.description-definition-sup {
  font-size: 26px;
  line-height: 40px;
}

/* Clients */

.clients {
  border-top: 2px solid var(--header-bg-light-grey);
  border-bottom: 2px solid var(--header-bg-light-grey);
  margin-bottom: 74px;
}

.client-list {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.client-list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 184px;
  width: 280px;
}

.client-list-item:not(:nth-of-type(4n))::after {
  content: "";
  position: absolute;
  left: 280px;
  width: 2px;
  height: 52px;
  background-color: var(--header-bg-light-grey);
}

.client-img {
  display: block;
  opacity: 0.2;
}

.client-img:hover,
.client-img:focus {
  opacity: 1;
}

.client-img:active {
  opacity: 0.1;
}

/* footer */

.main-footer {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

/* Map */

.map-img {
  width: 100%;
  display: block;
}

.map {
  margin-bottom: 68px;
}
.map::before {
  position: absolute;
  content: "";
  width: 231px;
  height: 190px;
  top: 70px;
  left: 847px;
  background-image: url(/img/map-marker\ 1.png);
  background-repeat: no-repeat;
}

/* Contacts */

.contacts {
  position: absolute;
  top: 54px;
  left: auto;
  line-height: 18px;
  color: var(--basic-grey-text);
  width: 319px;
  box-sizing: border-box;
  padding: 49px 50px 47px;
  background-color: var(--basic-white);
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.25);
}

.contacts-title {
  margin: 0;
  padding: 0;
  margin-bottom: 22.71px;
  color: var(--basic-black);
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.contacts-text {
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.tel > a {
  color: var(--basic-grey-text);
}

.button-contacts {
  display: block;
  margin-top: 37.29px;
  padding-left: 44px;
  padding-right: 44px;
  background-color: var(--basic-red);
}

/* Socials */

.socials {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 68px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-list-item {
  margin-right: 9px;
}

.social-list-item:last-child {
  margin-right: 0;
}

.social-button {
  display: block;
  width: 81px;
  height: 81px;
  background-color: var(--bacic-socials);
  border-radius: 50%;
}

.social-button svg {
  position: relative;
}

.social-list-item:nth-child(1) svg {
  top: 32px;
  left: 27px;
}

.social-list-item:nth-child(2) svg {
  top: 29px;
  left: 33px;
}

.social-list-item:nth-child(3) svg {
  top: 29px;
  left: 30px;
}

.social-button:hover,
.social-button:focus {
  background-color: var(--basic-red-hover);
}

.social-button:active {
  background-color: var(--basic-red-click);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-button:active path {
  opacity: 0.3;
}

.socials-text-wrapper {
  grid-column: 2 / -1;
}

.socials-title {
  max-width: 750px;
  margin: 0;
  padding: 0;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 14px;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.socials-text {
  margin: 0;
  padding: 0;
  margin-left: 14px;
  max-width: 750px;
}

/* Catalog */


.headline-wrapper {
  background-color: var(--header-bg-light-grey);
  grid-column: 1 / -1;
  padding-top: 67px;
  padding-bottom: 108px;
  margin-bottom: 55px;
}

.inner-headline {
  margin: 0;
  padding: 0;
  width: 727px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.catalog-layout {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;
}

/*Filter */

.filter {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;

}

.filters-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.filters-title-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 48px;
}

.filters-options {
  border: none;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.filters-options li:last-child {
  margin-bottom: 47px;
}

.filters-options label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filters-layout {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* filter-range-slider */

.range-filter {
  width: 260px;
  margin-bottom: 34px;
}

.range-controls {
  box-sizing: border-box;
  position: relative;
  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-bottom: 14px;
}

.scale {
  height: 2px;
  background: #d7dcde;
}

.bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}
.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  flex-wrap: wrap;
}

.price-controls label {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  align-self: center;
  margin-right: 11px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 60px;
  padding: 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-controls input:first-of-type {
  margin-right: 33px;
}

/* filter-radio */

.filters-radio {
  padding-left: 36px;
}

.filters-radio:not(:last-child) {
  margin-bottom: 20px;
}

.filters-radio-input + label::before {
  margin-left: -36px;
  position: absolute;
  content: "";
  box-sizing: border-box;
  width: 25.02px;
  height: 25.01px;
  top: -2px;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #4d4d4d;
  opacity: 0.4;
}

.filters-radio-input:checked:hover + label::after {
  opacity: 1;
}

.filters-radio-input:hover + label::before {
  opacity: 1;
}

.filters-radio-input:checked + label::after {
  content: "";
  position: absolute;
  width: 9.01px;
  height: 9px;
  top: 6px;
  left: -28px;
  background-color: var(--basic-catalog-border);
  opacity: 0.4;
  border-radius: 50%;
}

.filters-radio-input:disabled + label {
  color: var(--basic-text-opaticy);
}

.filters-radio-input:disabled + label::before {
  opacity: 0.1;
}

.filters-radio-input:disabled + label::after {
  opacity: 0.1;
}

.filters-extra {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* filters-checkboxes */

.filters-extra-checkbox {
  padding-left: 36px;
}

.filters-extra-checkbox:not(:last-child) {
  margin-bottom: 17px;
}

/* checkbox-off */

.filters-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 25.02px;
  height: 23.01px;
  top: -2px;
  background-image: url(/img/checkbox/checkbox-off.svg);
  background-repeat: no-repeat;
  margin-left: -36px;
  opacity: 0.4;
}

.filters-input-checkbox:hover + label::before,
.filters-input-checkbox:focus + label::before {
  opacity: 1;
}

/* checkbox-on */

.filters-input-checkbox:checked + label::before {
  background-image: url(/img/checkbox/checkbox-on.png);
}

/* checkbox-disabled */

.filters-input-checkbox:disabled + label {
  color: var(--basic-text-opaticy);
}

.filters-input-checkbox:checked:disabled + label::before {
  opacity: 0.1;
}

.filters-input-checkbox:disabled + label::before {
  opacity: 0.1;
}

.filters-title-sort {
  margin-right: 267px;
  margin-bottom: 48.15px;
}

.sort-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

.sort {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 5px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-sort {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: var(--basic-black-opacity);
}

.button-sort:hover,
.button-sort:focus {
  /* color: var(--basic-black-opacity-60); */
  color: var(--basic-black);
  opacity: 0.6;
}

.button-sort:active {
  color: var(--basic-black);
  opacity: 1;
}

.button-sort-down {
  width: 18px;
  height: 18px;
  background-image: url(/img/icon-down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 11px;
  opacity: 0.3;
}

.button-sort-up {
  width: 18px;
  height: 18px;
  background-image: url(/img/icon-down.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform: rotate(180deg);
  opacity: 0.3;
}

.button-sort-current {
  color: var(--basic-black);
  opacity: 1;
}

.filters-disabled {
  color: var(--basic-text-opaticy);
}

.filter-value-min {
  outline: 2px solid salmon;
  width: 80px;
}

.filter-value-max {
  outline: 2px solid salmon;
  width: 80px;
}

.button-filters {
  box-sizing: border-box;
  width: 260px;
  height: 50px;
  border: none;
  border-color: var(--header-bg-light-grey);
  color: var(--basic-black);
  padding-left: 88px;
  padding-right: 89px;
}

.button-filters:hover,
.button-filters:focus {
  background-color: var(--basic-pagination-hover);
}

.button-filters:active {
  background-color: var(--basic-pagination-click);
  color: var(--basic-black-opacity);
}

.catalog {
  grid-column: 2 / -1;
  margin-left: 95px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30.35px;
  column-gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.card-container {
  box-sizing: border-box;
  width: 360.62px;
  height: 619.85px;
  position: relative;
  border-radius: 3px;
  overflow: hidden;
}

.card-container:hover,
.card-container:focus {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.card-container:hover .card-info,
.card-container:focus .card-info {
  display: block;
}

.card-container:hover .card-bar,
.card-container:focus .card-bar {
  opacity: 1;
}

.card-bar {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: var(--basic-catalog-border);
  opacity: 0.12;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  overflow: hidden;
}

.circle-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  top:13px;
  left: 16px;
  list-style: none;
  gap: 9px;
  margin: 0;
  padding: 0;
}

.card-bar-circle {
  width: 14px;
  height: 14px;
  background-color: var(--basic-white);
  border-radius: 50%;
}

.card-img-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;

}

.card-img-container img {
  border: 1px solid #f2f2f2;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.card-info {
  display: none;
  position: absolute;
  top:388px;
  width: 360px;
  height: 231px;
  background-color: var(--header-bg-light-grey);
  z-index: 10;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
}




.card-info-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-title {
  margin: 0;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.catalog-title:hover,
.catalog-title:focus {
  color: var(--basic-red);
}

.catalog-title:active {
  color: var(--basic-black-opacity);
}

.catalog-text {
  margin: 0;
  padding: 0;
  margin-right: 52px;
  margin-left: 52px;
  margin-bottom: 32px;
  color: var(--basic-grey-text);
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

/* Pagination */

.pagination-list {
  display: flex;
  gap: 11px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;
}

.pagination-item {
  box-sizing: border-box;
}

.pagination-button {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--header-bg-light-grey);
}

.pagination-list a {
  display: block;
  color: var(--basic-black);
}

.pagination-button-next {
  width: 260px;
  height: 50px;
  padding-left: 77px;
  padding-right: 78px;
}

.pagination-current {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 14px;
  padding-bottom: 12px;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-pagination-stroke);
}

/* Modal */

.modal {

  display: none;
  width: 960px;
  height: 590px;
  position: fixed;
  top: 15%;
  left: 25%;
  background-color: var(--basic-white);
  box-sizing: border-box;
  padding-top: 63px;
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 84px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 40;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-form {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-form-text);
}

.input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 34px;
}

.modal-label {
  width: 360px;
  font-weight: 700;
}

.modal-input {
  width: 360px;
  height: 50px;
  margin-top: 9px;
}

.modal-textarea {
  margin-top: 9px;
  margin-bottom: 47px;
  width: 760px;
  height: 118px;
}

.modal-form input,
.modal-form textarea {
  border: 2px solid var(--basic-form-border);
  border-radius: 3px;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border: 2px solid var(--basic-form-hover);
}

.modal-form input:focus,
.modal-form textarea:focus {
  border: 2px solid var(--basic-black);
}

.modal-form input:invalid {
  border: 2px solid var(--basic-red-hover);
  color: var(--basic-red-hover);
}

.modal-headline {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}

.modal-close {
  border: none;
  width: 21px;
  height: 21px;
  position: relative;
  bottom: 425px;
  left: 759px;
  background-color: var(--basic-white);
  background-image: url(/img/cross-close.svg);
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover,
.modal-close:focus {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}


.button-catalog {
  background-color: var(--basic-red);
  padding-right: 72px;
  padding-left: 72px;
}

.button-catalog:hover,
.button-catalog:focus {
  background-color: var(--basic-red-hover);
}

.button-catalog:active {
  background-color: var(--basic-red-click);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

.button-modal {
  border-style: none;
  padding-right: 83px;
  padding-left: 83px;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--basic-pagination-hover);
}

.pagination-button:active {
  border-color: var(--basic-pagination-click);
  color: var(--basic-black-opacity);
  box-shadow: inset 0px 3px 0px var(--shadow);
}

/* Animation */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
