:root {
  --header-bg-light-grey:#EEEEEE ;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-red: #FB565A;
  --basic-red-hover: #E74246;
  --basic-red-click: #D7373B;
  --basic-green: #00CA74;
  --basic-green-hover: #00BC6C;
  --basic-green-click: #00AA62;
  --basic-yellow: #EFC849;
  --basic-yellow-hover: #EAB534;
  --basic-yellow-click: #E5A722;
  --basic-text: #283136;
  --basic-grey-text: #666666;
  --basic-form-text: #444444;
  --basic-form-border: #D7DCDE;
  --basic-form-hover: #B4B9BB;
  --basic-catalog-border: #4D4D4D;
  --basic-pagination-stroke: #DBDBDB;
  --basic-pagination-hover: #DFDFDF;
  --basic-pagination-click: #D5D5D5;
  --basic-white-opacity: rgba(256,256,256, 0.3);
  --basic-black-opacity: rgba(0,0,0, 0.3);
  --basic-black-opacity-60: rgba(0,0,0, 0.6);
  --basic-text-opaticy: rgba(40, 49, 54, 0.3);

  --shadow: rgba(0, 1, 1, 0.1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global */

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-text);
  background-color: var(--basic-white);
}

.page-body a {
  text-decoration: none;
  color: var(--basic-white)
}

.img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

/*Button */

.button {
  font:inherit;
  font-weight: 500;
  font-size: 16px;
  color: var(--basic-white);
  line-height: 18px;
  padding-top: 17px;
  padding-bottom: 15px;
  border-radius: 3px;
  text-transform: uppercase;
}

/* header */

.main-header {
  font-weight: 500;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--header-bg-light-grey);
}

.main-header .container {
  display: grid;
  grid-template-columns: 160px 1fr min-content;
}

.main-header a {
  color: var(--basic-black);
  text-transform: uppercase;
}

/* Navigation */

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav a:hover,
.nav a:focus {
  color: var(--basic-red);
}
.nav a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

/* user nav */

.user-navigation {
outline: auto;
}

/*Promo*/

.promo {
  background-color: var(--header-bg-light-grey);
  margin-bottom: 80px;
}

.promo-list {
  list-style: none;
  margin: 0;
  padding: 0;

}

.promo-list-item {
  height: 431px;
  outline: auto;
  background-repeat: no-repeat;
  background-position: right;
}

.promo-item-slide1{
  background-image: url(/img/slide1.png);
}

.promo-item-slide2{
  background-image: url(/img/slide2.png);
}

.promo-item-slide3{
  background-image: url(/img/slide3.png);
}

.promo-item-title {
  margin: 0;
  padding: 0;
  padding-top: 78px;
  padding-bottom: 25px;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

promo-item-text {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.button-promo {
  display: block;
  margin-top: 38px;
  box-sizing: border-box;
  width: 240px;
  height: 50px;
  text-align: center;
  padding-left:54;
  padding-right:54;
  background-color: var(--basic-red);
}

.button-promo:hover,
.button-color-red:hover,
.button-contacts:hover,
.button-promo:focus,
.button-color-red:focus,
.button-contacts:focus {
  background-color: var(--basic-red-hover);
}

.button-promo:active,
.button-color-red:active,
.button-contacts:active {
  background-color: var(--basic-red-click);
  color: var(--basic-white-opacity);
}

/* Service */

.service {
  margin-bottom: 80px;
}

.service-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.service-list-item {
  padding-top: 146px;
  background-repeat: no-repeat;
  background-position: top left;
}

.service-item-site {
  background-image: url(/img/features-1.jpg);
}

.service-item-apps {
  background-image: url(/img/features-2.jpg);
}

.service-item-presentation {
  background-image: url(/img/features-3.jpg);
}

.service-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
  color: var(--basic-black);
}

.service-item-text {
  margin-bottom: 32px;
}

.button-services {
  display: block;
  width: min-content;
  padding-left:39px;
  padding-right:40px;
}

.button-color-red {
  background-color: var(--basic-red);
}

.button-color-green {
  background-color: var(--basic-green);
}

.button-color-green:hover,
.button-color-green:focus {
  background-color: var(--basic-green-hover);
}

.button-color-green:active {
  background-color: var(--basic-green-click);
  color: var(--basic-white-opacity);
}

.button-color-yellow {
  background-color: var(--basic-yellow);
}

.button-color-yellow:hover,
.button-color-yellow:focus {
  background-color: var(--basic-yellow-hover);
}

.button-color-yellow:active {
  background-color: var(--basic-yellow-click);
  color: var(--basic-white-opacity);
}

/* About */

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  outline: 2px solid salmon;
  background-image: url(/img/nerds-illustration\ 1.jpg);
  background-repeat: no-repeat;
  background-position: top right 16px;

}

.about-title {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
}

.about-text {
  grid-column: 1 / -1;
}

.features-list-title {
  grid-column: 1 / -1;
  font-weight: 700;
}

.about-list-title {
  grid-column: 2 / -1;
  font-weight: 700;
}

.about-desc-list {
  grid-column: 2 / -1;
}

.description-title {
  line-height: 18px;
}

.description-definition {
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
}

.description-definition-sup {
  font-size: 26px;
  line-height: 40px;
}

/* Clients */

.client-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

/* footer */

/* Map */

.map {
  width: max-content;
  margin: 0 auto;
}

/* Contacts */

.contacts {
  line-height: 18px;
  color: var(--basic-grey-text);
}

.tel > a{
  color: var(--basic-grey-text);
}

/* Socials */

.socials {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.socials-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  margin: 0;
  padding: 0;
}

.socials-title {
  grid-column: 2 / -1;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.socials-text {
  grid-column: 2 / -1;
}

/* Catalog */
.inner-headline {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  background-color: var(--header-bg-light-grey);
  color: var(--basic-black);
}

/*Filter */

.filters-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}


.filters-options {
  border: none;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.filters-layout {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-extra {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filters-disabled {
  color: var(--basic-text-opaticy);
}

.sort {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Catalog */

.catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
}

.catalog-title:hover,
.catalog-title:focus {
  color: var(--basic-red);
}

.catalog-title:active {
  color: var(--basic-black-opacity);
}

.catalog-text {
  font-size: 16px;
  line-height: 18px;
}

/* Pagination */

.pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-button {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--header-bg-light-grey);
}

.pagination-list a {
  display: block;
  color: var(--basic-black);
  margin: 11px;
}

.pagination-button-next {
  width: 260px;
  height: 50px;
  padding-left: 77px;
  padding-right: 78px;
}

.pagination-current {
  background-color: var(--basic-white);
  border: 3px solid var(--basic-pagination-stroke);
}

/* Modal */

.modal-form {
  font-size: 16px;
  line-height: 18px;
  color:  var(--basic-form-text);
}
.modal-form input,
.modal-form textarea {
  border: 2px solid var(--basic-form-border);
  border-radius: 3px;
}

.modal-form input:hover,
.modal-form textarea:hover {
  border: 2px solid var(--basic-form-hover);
}

.modal-form input:focus,
.modal-form textarea:focus {
  border: 2px solid var(--basic-black);
}

.modal-form input:invalid {
  border: 2px solid var(--basic-red-hover);
  color: var(--basic-red-hover);
}

.modal-headline {
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
}

.form-bold {
  font-weight: 700;
}



.button-contacts {
  padding-left: 44px;
  padding-right: 44px;
  background-color: var(--basic-red);
}

.button-filters {
  border: none;
  border-color: var(--header-bg-light-grey);
  color: var(--basic-black);
  padding-left: 88px;
  padding-right: 89px;
}

.button-filters:hover,
.button-filters:focus {
  background-color: var(--basic-pagination-hover);
}

.button-filters:active {
  background-color: var(--basic-pagination-click);
  color: var(--basic-black-opacity);
}

.button-sort {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  color: var(--basic-black-opacity);
}

.button-sort-current {
  color: var(--basic-black)
}

.button-sort:hover,
.button-sort:focus {
  color: var(--basic-black-opacity-60);
}

.button-sort:active {
  color: var(--basic-black);
}

.button-catalog {
  background-color: var(--basic-red);
  padding-right: 72px;
  padding-left: 72px;
}

.button-catalog:hover,
.button-catalog:focus {
  background-color: var(--basic-red-hover);
}

.button-catalog:active {
  background-color: var(--basic-red-click);
  box-shadow: inset 0px 3px 0px var(--shadow);
}


.button-modal {
  border-style: none;
  padding-right: 83px;
  padding-left: 83px;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: var(--basic-pagination-hover);
}

.pagination-button:active {
  border-color: var(--basic-pagination-click);
  color: var(--basic-black-opacity);
  box-shadow: inset 0px 3px 0px var(--shadow);
}
